@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Unbounded:wght@200..900&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: "Unbounded";
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffc0cb;
}

li {
    list-style: none;
}

.title { 
    font-size: 40px;
    color: #fdf6f0;
}


.grid-container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #0000005b;
    background-color: #fdf6f0;
}

.container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.buttons {
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    
}

.button:last-child {
    flex-grow: 3;
}

.control {
    width: 200px;
    background-color: #96deff;
    border: none;
    padding: 30px 10px;
    color: #000000a8;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

.control:hover {
    background-color: #beebff;
}

.sketch-pad {
    display: flex;
    flex-direction: column;
}

button {
    font-family: "Bungee";
}
.show-grid-button {
    background-color: #dfdfdf;
    border: 1px solid #0000005b;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
}

.show-grid-button:hover {
    background-color: #adadad;
}

.show-grid {
    border: 1px solid black;
}